<!DOCTYPE html>
<html>
<head lang="ru">    
	<title>Advertising agency</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="header">
		<div class="body">
			<div class="navbar">
				<div class="logo">
					<img src="/img/logo.png" alt="">
				</div>
				<div class="nav-items">
					<a href="#" class="active">Главная</a>
					<a href="">Приемущество</a>
					<a href="">Наши товары</a>
					<a href="">О нас</a>
					<a href="">Контакты</a>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-instagram"></i></a>
					<a href=""><i class="fab fa-whatsapp"></i></a>
				</div>

			</div>
		</div>
	</div>
